---
import { Picture } from "astro:assets";
const { taste, description, PodImage } = Astro.props;
---

<div class="pod-wrapper">
    <Picture
        src={PodImage}
        formats={["avif", "webp"]}
        width="90"
        height="200"
        densities={[1, 2]}
        quality="99"
        alt="pod"
    />
    <div class="info-wrapper">
        <div class="frame">
            <h3>{taste}</h3>
            <p>{description}</p>
        </div>
        <div class="appendice"></div>
    </div>
</div>
<style>
    .info-wrapper {
        /* display: none; */
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(20%, -85%);
        transform-origin: right;
        scale: 0;
        opacity: 0;
        transition:
            scale 0.5s,
            opacity 0.5s;

        @media screen and (min-width: 768px) {
            display: block;
            transform: translate(85%, -85%);
            right: 50%;
        }

        & .frame {
            border: 1px solid var(--fg1);
            background-color: var(--bg2);
            width: 200px;
            padding: 24px;

            @media screen and (min-width: 768px) {
                width: 235px;
            }

            & h3 {
                font-family: Tartuffo, sans-serif;
                font-weight: 400;
                font-size: 24px;
                mix-blend-mode: multiply;
                margin: 0;

                @media screen and (min-width: 768px) {
                    font-size: 18px;
                }
            }

            & p {
                margin-top: 24px;
                margin-bottom: 0;
                font-family: Gustavo, sans-serif;
                font-weight: 400;
                font-size: 12px;
                color: var(--fg3);
                line-height: 170%;

                @media screen and (min-width: 768px) {
                    font-size: 15px;
                }
            }
        }

        .appendice {
            display: none;
            width: 1px;
            height: 50px;
            background-color: var(--fg1);
            position: relative;
            left: 40px;
            transform: rotate(30deg);
            transform-origin: top;

            &::after {
                content: "";
                position: absolute;
                width: 8px;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--fg1);
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            @media screen and (min-width: 768px) {
                display: block;
            }
        }
    }

    .pod-wrapper {
        width: fit-content;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 5px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 4px;
            background: #30171b;
            opacity: 0.5;
            border-radius: 100%;
            filter: blur(4px);
            transition: 0.5s;
        }

        & img {
            transition: transform 0.5s;
            position: relative;
            max-width: 80px;
            height: auto;

            @media screen and (min-width: 768px) {
                display: block;
                max-width: 90px;
            }
        }

        &:hover {
            &::after {
                width: 45px;
                height: 10px;
            }
            & img {
                transform: translateY(-15%);
            }

            & .info-wrapper {
                scale: 1;
                opacity: 1;
            }
        }

        &:nth-child(1) .info-wrapper,
        &:nth-child(5) .info-wrapper {
            @media screen and (max-width: 640px) {
                transform: translate(80%, -85%);
            }
        }

        &:nth-child(2) .info-wrapper,
        &:nth-child(6) .info-wrapper {
            @media screen and (max-width: 640px) {
                transform: translate(70%, -85%);
            }
        }

        &:nth-child(3) .info-wrapper,
        &:nth-child(7) .info-wrapper {
            @media screen and (max-width: 640px) {
                transform: translate(25%, -85%);
            }
        }

        .info-wrapper {
            @media screen and (min-width: 768px) {
                display: block;
                transform: translate(85%, -85%);
                right: 0;
            }
        }
    }
</style>
